### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule ^expense/edit-expense ./expense/editExpense.html
RewriteRule ^profit/edit-profit ./profit/editProfit.html
RewriteRule ^expense/add-expense ./expense/addExpense.html
RewriteRule ^profit/add-profit ./profit/addProfit.html
RewriteRule ^expense/expense-list ./expense/expense.html
RewriteRule ^profit/profit-list ./profit/profit.html
RewriteRule register-user register.html
RewriteRule signin-user signin.html
