### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule edit-expense editExpense.html
RewriteRule edit-profit editProfit.html
RewriteRule add-expense addExpense.html
RewriteRule add-profit addProfit.html
RewriteRule expense-list expense.html
RewriteRule profit-list profit.html
RewriteRule register-user register.html
RewriteRule signin-user sigin.html
