### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule edit-expense editExpense.html
RewriteRule edit-profit editProfit.html
RewriteRule add-expense addExpense.html
RewriteRule add-profit addProfit.html
RewriteRule expense expense.html
RewriteRule profit profit.html
RewriteRule register register.html
RewriteRule signin sigin.html
