button
{
    width: 80%;
    margin-bottom: 30px;
}
button:hover
{
    border: 3px solid #3E3E3B;
    filter: brightness(100%);
    cursor: pointer;
}

input
{
    width: 100% !important;
}

.row
{
    margin-top: 10px;
}

body
{
    background-color: #d6cfcb;
    color: #565264;
    align-content: center;
    text-align: center; 
}

#title
{
	font-size: 50px;
    color: #4C586F;
}

.close
{
    width: 20px;
}

#footer
{
  position: sticky;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 20px;
	text-align: center;
	color: gray;  
}


label
{
  color: #565264;
}

#id-edit
{
  pointer-events:none;
  color: #666;
  background: #CCC;
}
